{% extends 'store/base.html' %}
{% block content %}
<ul>
  <li>
    Hello, developer {{user}}
    <ul>
      <form action="../modify/" method="POST">
        <input type='hidden' name='csrfmiddlewaretoken' id='csrf'>
        name: <input type="text" value={{game.name}} name='gamename'>
        <br>
        price: <input type="text" value={{game.price}} name='gameprice'>
        <br>
        url: <input type="text" value={{game.url}} name='gameurl'>
        <br>
        <input type='hidden' name='gameid' value={{game.id}}>
        <input type='hidden' name='devid' value={{game.developer}}>
        <input type="submit" value="Submit">
      </form>
      <script> document.getElementById("csrf").value = csrftoken</script>
    </ul>
    Sales:
    <ul>
      {% for sale in sales %}
      <li>Buyer: {{sale.player}}</li>
      <li>Price: {{sale.price}}</li>
      <li>date: TODO</li>
      <br>
      {%endfor%}
    </u>
  </li>
{% endblock %}
