{% extends 'store/base.html' %}
{% block content %}
    <a href="./highscores/">High scores</a>
    <iframe id="game" src="{{ game_url }}"></iframe>
    <script>



    $(window).on("message", function(event){
      var data = event.originalEvent.data;
      console.log(data);

      if (data.messageType == "SCORE"){
        $.ajax({
          type: "POST",
          url: "../../api/games/score/",
          data: {
            "score": data.score,
            "gameId": {{game_id}}
          }
        });
      }else if (data.messageType == "SAVE"){

        $.ajax({
          type: "POST",
          url: "../../api/games/save/",
          data: {
            "gameState": JSON.stringify(data.gameState),
            "gameId": {{game_id}}
          }
        });

      }else if (data.messageType == "LOAD_REQUEST"){
        //get save from db
        $.get("../../api/games/load/" + {{game_id}}, function(data, status){
            if (status == "success"){
                console.log(data);
                var message = {
                  messageType: "LOAD",
                  gameState: JSON.parse(data)
                }
                $("#game")[0].contentWindow.postMessage(message, "*");
            }else{
              //TODO: error message
            }
        });

      }else if (data.messageType == "SETTING"){

      }
    });

      $("#game").on("load", function(){
        //LOAD
        console.log("MOO");
        //$("#game")[0].contentWindow.postMessage(message, "*");
      })
    </script>
{% endblock %}
